<div class="register">
  <div class="row">
    <div class="col-md-3 register-left">
      <img src="https://image.ibb.co/n7oTvU/logo_white.png" alt="" />
      <h3>Welcome</h3>
      <p>Do you already have an account?</p>
      <a class="btn btn-outline-danger" routerLink="/auth/login">
        Login <i class="fas fa-sign-in-alt"></i>
      </a>

    </div>
    <div class="col-md-9 register-right p-3">
      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="profile" role="tabpanel" aria-labelledby="home-tab">
          <h3 class="register-heading">Enter Profile Information</h3>
          <div class="row register-form">
            <form [formGroup]="registrationForm" (ngSubmit)="register()" novalidate>
              <div formGroupName="createProfileDto">
                <div class="d-flex justify-content-center mt-2">
                  <mat-form-field style="width: 300px;">
                    <input id="firstname" formControlName="firstname" aria-label="First Name" type="text" matInput
                           placeholder="First Name" required />
                  </mat-form-field>
                  <mat-form-field style="width: 300px;" class="ml-3">
                    <input type="text" id="lastname" formControlName="lastname" matInput placeholder="Last Name"
                           aria-label="Last Name" required />
                  </mat-form-field>
                </div>


                <div class="d-flex justify-content-center mt-2">
                  <mat-form-field style="width: 300px;">
                    <input type="email" id="email" formControlName="email" aria-label="Email" matInput placeholder="Email" required />
                  </mat-form-field>
                  <mat-form-field style="width: 300px;" class="ml-3">
                    <input type="text" id="age" formControlName="age" aria-label="Age" matInput placeholder="Age" required />
                  </mat-form-field>
                </div>


                <div class="d-flex justify-content-center mt-2">
                  <mat-form-field style="width: 300px;">
                    <input type="text" id="country" aria-label="Country" formControlName="country" matInput placeholder="Country"
                           required />
                  </mat-form-field>
                  <mat-form-field style="width: 300px;" class="ml-3">
                    <input type="text" id="city" formControlName="city" matInput aria-label="City" placeholder="City"
                           required />
                  </mat-form-field>

                </div>

                <div class="d-flex justify-content-center mt-2">
                  <mat-form-field style="width: 200px;">
                    <input type="text" id="address" formControlName="address" matInput aria-label="Address" placeholder="Address"
                           required />
                  </mat-form-field>
                  <mat-form-field style="width: 200px;" class="ml-3">
                    <input type="text" id="phone" formControlName="phone" matInput aria-label="Phone" placeholder="Phone"
                           required />
                  </mat-form-field>
                  <mat-form-field style="width: 200px;" class="ml-3">
                    <input type="text" id="gender" formControlName="gender" matInput aria-label="Gender" placeholder="Gender"
                           required />
                  </mat-form-field>
                </div>
              </div>

              <div formGroupName="authCredentialsDto">
                <div class="d-flex justify-content-center mt-2">
                  <mat-form-field style="width: 300px;">
                    <input type="text" id="username" placeholder="Username" formControlName="username" matInput aria-label="Username" required />
                  </mat-form-field>
                  <mat-form-field style="width: 300px;" class="ml-3">
                    <input type="password" id="password" formControlName="password" matInput aria-label="Password"
                           placeholder="Password" required />
                  </mat-form-field>
                </div>
              </div>
              <button [disabled]="!registrationForm.valid" class="btn btn-primary" type="submit">Register</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

