<div class="row justify-content-between m-2 p-3 bg-primary">
  <div class="col-md-6">
    <h3>Your Main Cart</h3>
  </div>
  <div class="col-md-6">
    <h3 (click)="refreshCartData()" style="cursor: pointer;">Click here to refresh cart
      <i class="fas fa-retweet"></i></h3>
  </div>
</div>
<div class="row justify-content-between m-2 p-3" *ngIf="cartItem && cartItem.products.length >= 1">
  <div class="col-md-6">
    <button mat-raised-button color="primary" (click)="openDialog(orderTemplate)">Checkout</button>
  </div>
  <div class="col-md-6">
    <button mat-raised-button color="warn" (click)="openModal(removeAllProducts)">Clear Cart</button>
  </div>
</div>
<div class="container-fluid text-center justify-content-center"
     *ngIf="cartItem && cartItem.total_products === 0">
  <div class="bg-info">
    <h3 style="font-family: Anton,serif;">
      There are no products inside your cart!!
    </h3>
    <p class="lead text-warning">
      Go to products page to add the products that you want.
      <a style="font-size: 22px;" mat-button routerLink="/products">
        Navigate to products
      </a>
    </p>
  </div>
</div>
<ng-template #removeAllProducts>
  <div class="modal-header">
    <h4 class="modal-title pull-left">
      <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
      Attention
    </h4>
    <button type="button" class="close pull-right" aria-label="Close"
            (click)="hideModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body text-center">
    <p class="text-danger lead">Are you sure that you want to clear your cart?</p>
    <button mat-raised-button color="warn" type="button" (click)="clearCartProducts(); hideModal();">Yes</button>
    <button mat-raised-button color="primary" type="button" (click)="hideModal();">No</button>

  </div>

</ng-template>
<div class="example-container mat-elevation-z8" *ngIf="cartItem && dataSource">
  <mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort *ngIf="cartItem.total_products >=1">
    <ng-container matColumnDef="Number">
      <mat-header-cell *matHeaderCellDef> Number</mat-header-cell>
      <mat-cell *matCellDef="let i = index">
        {{i + 1}}
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="Name">
      <mat-header-cell *matHeaderCellDef> Name</mat-header-cell>
      <mat-cell *matCellDef="let product">
        {{product.name}}
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="Price">
      <mat-header-cell *matHeaderCellDef> Price</mat-header-cell>
      <mat-cell *matCellDef="let product">
        {{product.price}}
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="Quantity" class="mr-4 justify-content-center">
      <mat-header-cell *matHeaderCellDef> Quantity</mat-header-cell>
      <mat-cell *matCellDef="let product" class="mr-4 ">
        <div class="row justify-content-center">
          <div class="col-md-12">
            <mat-form-field appearance="standard" style="max-width: 50px">
              <mat-label> Quantity</mat-label>
              <input matInput type="number" [(ngModel)]="product.cartQuantity" maxlength="100" minlength="1">
            </mat-form-field>
            <button class="ml-2" mat-raised-button (click)="updateProductCartQuantity(product)">
              <i class="fas fa-sync-alt"></i>
            </button>
          </div>
        </div>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="Actions">
      <mat-header-cell *matHeaderCellDef> Actions</mat-header-cell>
      <mat-cell *matCellDef="let product">
        <div class="row">
          <div class="col-md-6">
            <button mat-raised-button color="primary" class="m-2">Place Order</button>
          </div>
          <div class="col-md-6">
            <button mat-raised-button color="warn" class="m-2" (click)="openModal(deleteItem)">Remove</button>
          </div>

        </div>
        <ng-template #deleteItem>
          <div class="modal-header">
            <h4 class="modal-title pull-left">
              <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
              Attention
            </h4>
            <button type="button" class="close pull-right" aria-label="Close"
                    (click)="hideModal()">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body text-center">
            <p class="text-danger lead">Are you sure that you want to remove this product?</p>
            <button mat-raised-button color="warn" type="button" (click)="removeFromCart(product.id); hideModal();">
              Yes
            </button>
            <button mat-raised-button color="primary" type="button" (click)="hideModal();">No</button>
          </div>
        </ng-template>
      </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
  <mat-paginator *ngIf="cartItem && dataSource"
                 [length]="cartItem.products.length"
                 [pageSize]="cartItem.total_products"
                 [pageSizeOptions]="[1, 2 , 5, 10]"

                 showFirstLastButtons></mat-paginator>
</div>


<div class="container-fluid">
</div>


<ng-template #orderTemplate class="mt-3 mb-3" style="width:700px; height: auto;">
  <h2 mat-dialog-title>Checkout Instruction</h2>
  <mat-dialog-content class="mat-typography" style="width:700px; height: auto;">
    <mat-vertical-stepper #stepper [linear]="true">
      <mat-step [stepControl]="createPaymentDto">
        <form [formGroup]="createPaymentDto">
          <ng-template matStepLabel>Select your payment method</ng-template>
          <mat-form-field>
            <mat-label>Payment Method</mat-label>
            <mat-select [(ngModel)]="selectedPM" name="payment_method"
                        formControlName="payment_method" required>
              <mat-option>select</mat-option>
              <mat-option *ngFor="let method of paymentMethods;" [value]="method">
                {{method}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <div>
            <button mat-button matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>
      <mat-step [stepControl]="createOrderDto">
        <form [formGroup]="createOrderDto">
          <ng-template matStepLabel>Fill out your Comments</ng-template>
          <mat-form-field>
            <mat-label>Comments</mat-label>
            <textarea id="comments" matInput formControlName="comments"
                      required>
            </textarea>
          </mat-form-field>
          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Done</ng-template>
        <p>You are now done.</p>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button type="button" mat-raised-button color="accent" (click)="completeCheckout();
          hideDialog()"
                  [disabled]="!createOrderDto.valid && !createPaymentDto.valid">
            Checkout
          </button>
          <button mat-button (click)="stepper.reset()">Reset</button>
        </div>
      </mat-step>
    </mat-vertical-stepper>
  </mat-dialog-content>
  <mat-dialog-actions>
    {{createPaymentDto.value | json}}
    {{createOrderDto.value | json}}
  </mat-dialog-actions>
</ng-template>
