<div class="container-fluid mt-1">
  <div class="jumbotron mb-3 p-2">
    <div class="border border-dark mb-2">
      <div class="row justify-content-center mb-3">
        <h2 style="font-family: 'Anton', sans-serif">
          Search for a product &nbsp; <span class="fa fa-search"></span>
        </h2>
      </div>
      <div class="row justify-content-center">
        <div class="d-flex justify-content-center">
          <mat-form-field style="width: 500px">
            <input type="text" aria-label="Name" [matAutocomplete]="autoName"
                   matInput
                   placeholder="Search for a product"
                   name="searchTerm" [(ngModel)]="searchTerm">
          </mat-form-field>
          <mat-autocomplete #autoName="matAutocomplete">
            <mat-option *ngFor="let product of products | productFilter: searchTerm"
                        [value]="product.name">
              {{product.name}}
            </mat-option>
          </mat-autocomplete>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="row mt-3" *ngIf="products && products.length >=1">
  <div class="col-md-4" *ngFor="let product of products | productFilter: searchTerm">
    <div class="card mb-3">
      <img [src]="product.image" *ngIf="product.image" alt="">
      <div class="card-body">
        <h5 class="card-title">{{product.name}}</h5>
        <mat-divider class="m-2"></mat-divider>
        <p class="card-text lead">${{product.price}}</p>
      </div>
      <div class="card-footer">
        <div class="row justify-content-center">
          <button (click)="viewProductDetails(product)" class="btn btn-outline-info">
            View details
          </button>
          <app-add-to-cart [inputProduct]="product"
                           *ngIf="authService.isLoggedIn() && !product.addedToCart"></app-add-to-cart>

        </div>
      </div>
    </div>
  </div>
</div>
